<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a Pokemon</title>
    <%- include("imports.ejs") %>
</head>
<body>
    <header>
        <h1>The Pokemon Manager</h1>
        <a href="/pokemon"><h1>Home</h1></a>
    </header>
    <h2>Create a New Pokemon</h2>
    <label for="url">Picture of Pokemon</label>
    <form action="/pokemon/<%= id %>?_method=PUT" method="post">
        <input type="url" name="img" id="url" value="<%= pokemon.img %>">
        ID: <input type="text" name="id" value="<%= pokemon.id %>" />
        Name: <input type="text" name="name" value="<%= pokemon.name %>" />
        Type/Types: <input type="text" name="type" value="<%= pokemon.type %>" />
        HP: <input type="number" name="hp" value="<%=pokemon.stats.hp %>" />
        Attack: <input type="number" name="attack" value="<%=pokemon.stats.attack %>">
        Defense: <input type="number" name="defense" value="<%=pokemon.stats.defense %>">
        SPAttack: <input type="number" name="spattack" value="<%=pokemon.stats.spattack %>">
        SPDefense: <input type="number" name="spdefense" value="<%=pokemon.stats.spdefense %>">
        Speed: <input type="number" name="speed" value="<%=pokemon.stats.speed %>">
        <input type="submit" value="Edit <%= pokemon.name %>" />
    </form>
    
</body>
</html>