<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pokemon.name %></title>
    <%- include("imports.ejs") %>
</head>
<body>
    <header>
        <h1>The Pokemon Manager</h1>
        <a href="/pokemon"><h1>Home</h1></a>
        <a href="/pokemon/new"><h1>Add Pokemon</h1></a>
    </header>
    <div id="cards">
        <div class="card">
            <img src="<%= pokemon.img %>" alt="<%= pokemon.name %>">
            <h2>ID: #<%= pokemon.id %></h2>
            <h2>Name: <%= pokemon.name %></h2>
            <h2>Types:</h2>
            <% for (let i = 0; i < pokemon.type.length; i++) { %>
                <ul>
                    <li><%= pokemon.type[i] %></li>  
                 </ul>
            <% } %>
            
            <a id="edit" href="/pokemon/<%= id %>/edit"><button>Edit</button></a>
            <form action="/pokemon/<%= id %>?_method=DELETE" method="post">
                <input type="submit" value="Delete"/>
            </form>
            
        </div>
        <div class="card">
            <h2>Stats:</h2>
            <ul>
                <li>HP: <%= pokemon.stats.hp %></li>
                <li>ATTACK: <%= pokemon.stats.attack %></li>
                <li>DEFENSE: <%= pokemon.stats.defense %></li>
                <li>SPATTACK: <%= pokemon.stats.spattack %></li>
                <li>SPDEFENSE: <%= pokemon.stats.spdefense %></li>
                <li>SPEED: <%= pokemon.stats.speed %></li>
            </ul>
        </div>
    </div>
      
</body>
</html>